a {
  color: #FFF;
}
a:hover {
  color: lightgray;
}
div {
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

.ant-page-header-back-button {
  color: white !important;
}

.ant-page-header-heading-title {
  color: white !important; 
}

.transition {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.transition :hover {
  width: 150%;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.ant-select-selection-item {
  color: rgba(0, 0, 0, 0.65);
}

.ant-select-item-option-content {
  color: rgba(0, 0, 0, 0.65);
}

/*
.ant-table-row .ant-table-row-level-0 :hover{
  background-color: red !important;
}

.ant-table-cell {
  color: white;
  background-color: rgb(32, 43, 67) ;
}

.ant-table-column-sorters {
  color: rgba(0, 0, 0, 0.65);
}

td.ant-table-column-sort {
  background-color: rgb(39, 53, 82) !important;
} */

.ant-table-tbody > tr > td {
  border-bottom: 1px solid rgb(29, 40, 61) !important;
}

.ant-table-thead > tr > th {
  border-bottom: 1px solid rgb(29, 40, 61) !important;
}